<html>
<head>
<title>My Todo List</title>
</head>
<body>
    <nav>
        <a id="all_tasks" href="{{ url_for('all_tasks') }}">All Tasks</a>
        <a id="create" href="{{ url_for('create') }}">Create</a>
        <a id="incomplete_tasks" href="{{ url_for('incomplete_tasks') }}">Incomplete Tasks</a>
        <a id="login" href="{{ url_for('login') }}">Login</a>
        <a id="debug" href="{{ url_for('debug') }}">Debug</a>
    </nav>
    <h1>My Todo List</h1>
    <h2>{% block subtitle %} {% endblock subtitle %}</h2>
    {% block content %} {% endblock content %}
</body>
</html>
